<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>tabs</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->

<!--</ion-content>-->
<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="paradas">
            <ion-icon name="map"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button *ngIf="_authService?.usuario"
                        (click)="vaACambiarATabDePedidos()"
                        tab="pedidos">
            <ion-icon name="today"></ion-icon>
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>
        <ion-tab-button *ngIf="!_authService?.usuario" tab="seccion-menu">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>Rutas</ion-label>
        </ion-tab-button>
        <ion-tab-button *ngIf="_authService?.usuario"
                        tab="perfil">
            <ion-icon name="contact"></ion-icon>
            <ion-label>LogOut</ion-label>
        </ion-tab-button>
        <ion-tab-button *ngIf="!_authService?.usuario"
                        tab="login">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Login</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
