<ion-header>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">
            <img class="icono-arriba icono-arriba-espacio-modal" src="assets/imagenes/logo-alitas-cabecera.svg" alt="logo">
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-mostrar-local
                        [establecimiento]="local"
                ></app-mostrar-local>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <!--                <a target="_blank" [href]="'https://www.google.com/maps/search/?api=1&query='+ coordenadas.latitud+ ','+coordenadas.longitud">-->
                <ion-button expand="block" color="success" target="_blank" [href]="'https://www.google.com/maps/search/?api=1&query='+ coordenadas.latitud+ ','+coordenadas.longitud">
                    Abrir en Google Maps
                    <img style="height:48px;width:48px;" src="../../../../assets/imagenes/google-maps.png">
                </ion-button>
                <!--                </a>-->
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <!--                <a target="_blank" [href]="'https://waze.com/ul?ll=' + coordenadas.latitud+ ','+coordenadas.longitud +'&z=10'">-->
                <ion-button expand="block" color="secondary" target="_blank" [href]="'https://waze.com/ul?ll=' + coordenadas.latitud+ ','+coordenadas.longitud +'&z=10'">
                    Abrir en Waze
                    <img style="height:48px;width:48px;" src="../../../../assets/imagenes/waze.png">
                </ion-button>
                <!--                </a>-->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
