<ion-header>
  <ion-toolbar>
    <ion-title>paradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
        FORMULARIO
    </ion-col>
  </ion-row>
  <ion-row>
    MAPA DE PARADAS
  </ion-row>
</ion-content>
