// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #a8aab2;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2eabcf;
  --ion-color-primary-tint: #67ecff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #f7e400;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --base-color-white: #c9cccd;
  --base-color-azul-oscuro: #2A2E43;

  .toolbar-container {
    background-color: #0bb8cc;
  }

}

:root {
  ion-title.title-pequeno {
    font-size: 12px;
  }

  .toolbar-background {
    background-color: #f7e400;
  }

  ion-header {
    background-color: #f7e400;
  }
}

::slotted(ion-progress-bar) {
  .toolbar-background {
    background-color: red;
  }
}

// Imagenes

.imagen-70 {
  cursor: pointer;
  border: 1px solid #f7e400;
  border-radius: 9px;
  color: rgba(255, 255, 255, 0.9);
  text-overflow: clip;
  background: #f7e400;
  box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  max-height: 100% !important;
  max-width: 80% !important;
  width: 100% !important;
}

.imagen-140 {
  cursor: pointer;
  border: 1px solid #f7e400;
  border-radius: 9px;
  color: rgba(255, 255, 255, 0.9);
  text-overflow: clip;
  background: #f7e400;
  box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  max-height: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}


.ol-control button {
  background-color: #3880ff;
}

.ol-scale-line {
  background: #3880ff;
}

.ol-control button:focus, .ol-control button:hover {
  text-decoration: none;
  background-color: #3880ff;
}

.ol-boton-posicion {
  left: 0.5em;
  top: 4.8em;
}

.ol-attribution.ol-uncollapsible {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #298585;
}

ion-toolbar {
  border: 1px solid #f7e400;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.toolbar-container {
  background-color: #f7e400;
}

ion-toolbar.toolbar-container {
  background-color: #f7e400;
}


:root {
  ion-tab-bar {
    background-color: whitesmoke;
    color: #fff;
  }

  ion-tab-bar.blanco {
    background-color: #ffffff;
  }


  .tab-selected {
    color: #202020;
    background-color: rgba(83, 84, 82, 0.76);
    transition: 0.5s;
  }

  //

  //
  //ion-tab-bar.tab-selected > ion-tab-button > ion-label {
  //  color: white;
  //  background-color: white;
  //}
  //
  //ion-tab-bar.lubricadoras {
  //  background-color: $color-blanco-blanco;
  //}
  //
  //.lubricadoras.tab-selected {
  //  color: $color-blanco-blanco;
  //  background-color: $color-principal;
  //  border-top-left-radius: 40px;
  //  border-top-right-radius: 40px;
  //  -webkit-animation-name: animacion-boton-tab-arriba;
  //  -webkit-animation-duration: 1.1s;
  //  animation-name: animacion-boton-tab-arriba;
  //  animation-duration: 1.1s;
  //}
  //
  ion-tab-button {
    background-color: whitesmoke;
    color: black;
  }

  //
  //ion-tab-button.lubricadoras {
  //  color: $color-opaco;
  //  background-color: $color-blanco-blanco;
  //}
  //


}
.amarillo-alitas-background{
  background-color: #f7e400;
}
