<ion-header>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">
            <img class="icono-arriba icono-arriba-espacio-modal" src="assets/imagenes/logo-alitas-cabecera.svg"
                 alt="logo">
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon class="color-negro" slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="warning">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h4>Opciones rápidas</h4>
                <p class="parrafo-pedido">Selecciona una de las opciones rápidas o continúa navegando por el aplicativo.</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8">
                <div class="padding-popup margen-carta">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="4">
                                <img class="imagen-pedido" src="assets/imagenes/vermenu.png" alt="">
                            </ion-col>
                            <ion-col size="8">
                                <p class="parrafo-pedido">
                                    Explora nuestro <span class="bold">delicioso menú</span> y entérate de nuestros productos.
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="margen-boton">
                    <ion-button (click)="irVerMenu()"
                                expand="full">
                        Menú
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8">
                <div class="padding-popup margen-carta">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="4">
                                <img class="imagen-pedido" src="assets/imagenes/iniciarsesionregistro.png" alt="">
                            </ion-col>
                            <ion-col size="8">
                                <p class="parrafo-pedido">
                                    Ingresa y realiza <span class="bold">pedidos</span> y disfruta de nuestras opciones
                                    rápidamente.
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-col>
            <ion-col size="4">
                <div class="margen-boton">
                    <ion-button (click)="dismiss()"
                                expand="full">
                        Ingresar
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <img class="imagen-logo"  src="assets/imagenes/alitas-logo.png" alt="">
                <img class="imagen-numerouno"  src="assets/imagenes/numerouno.png" alt="">
                <!-- <p class="ion-text-center">Las alitas Nº 1 del Ecuador</p> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

