<ion-app>
<!--  <ion-menu side="start" contentId="first">-->
<!--&lt;!&ndash;    <ion-header>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-toolbar color="primary">&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-title>Menu</ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-header>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-content>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-list lines="none">&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-icon name="home"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-label>Inicio</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>Menu Item</ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>Menu Item</ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>Menu Item</ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>Menu Item</ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-list>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-content>&ndash;&gt;-->
<!--  </ion-menu>-->
  <ion-router-outlet id="first"></ion-router-outlet>
</ion-app>
